@using ChatWebPruebaTecnica.Business
@model List<UtilitiesChatPruebaTecnica.Models.MessageResponse>
@{
    ViewBag.Title = "Chat";
    ChatWebPruebaTecnica.Models.Requests.User userSession = (ChatWebPruebaTecnica.Models.Requests.User)Session["User"];
    int idRoom = (int)ViewBag.idRoom;
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        <b>Mensajes de los usuarios de la sala</b>
        <div style="height:70vh; border:1px solid #000; border-radius:10px; overflow:auto;" id="AllMessages">
            @foreach (var message in Model)
            {
                string classRight = "";
                if (userSession.Id == message.IdUser)
                {
                    classRight = "messageRight";
                }

                <div>
                    <div class="message @classRight">
                        <b>@message.NickName</b><br />
                        <div>@message.Message</div>
                        <div style="text-align:right; font-size:11px;">
                            @message.DateCreated.ToString()
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            }
        </div>
        <div style="height:5vh">
            <input placeholder="Escribe un mensaje..." type="text" value="" id="txtMessage" style="width:90%;" />
            <input id="btnSend" type="button" value="Enviar" class="btn btn-success" />
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
    <script src="@AppSettings.Url.SignalRHub"></script>

    <script>
        $(function() {

            $.support.cors = true;

            $.connection.hub.url = "@AppSettings.Url.SignalR";

            var Counter = $.connection.counterHub;

            Counter.client.enterUser = function(counter, message) {
                alert("Hay " + counter + " persona(s) activa(s). " + message);
            }

            Counter.client.sendChat = function (userName, message, date, idUser) {
                var classRight = "";
               
                if (idUser == @userSession.Id) {
                    classRight = "messageRight";
                }

                var newMessage='<div>'+
                    "<div class='message "+classRight+"'>" +
                    "<b>" + userName + "</b><br />"+
                    "<div>" + message + "</div>"+
                    "<div style='text-align:right; font-size:11px;'>"+
                    date.toString() +
                    "</div>"
                "</div>"
                "<div class='clearfix'></div>"
                "</div>";

                $("#AllMessages").append(newMessage);
                $("#txtMessage").focus();
                $("#txtMessage").prop("value", "");
                $('#AllMessages').scrollTop($('#AllMessages')[0].scrollHeight);
            }

            $.connection.hub.start().done(function () {

                Counter.server.addGroup(@idRoom)

                $("#btnSend").click(function() {
                    var userName = "@userSession.NickName";
                    var idRoom = "@idRoom";
                    var message = $("#txtMessage").prop("value");
                    var idUser = "@userSession.Id";

                    if (message == "") {
                        return;
                    }

                    Counter.server.send(idRoom, idUser, userName, message);

                });

            });

        })
    </script>
}

<style>
    .message {
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 50%;
        margin: 10px;
        padding: 5px;
    }

    .messageRight {
        float: right;
    }
</style>